{% extends 'base.html.twig' %}

{% block body %}
    <h1>Who Am I ?</h1>
    <p>Username: {{ app.user.userIdentifier }}</p>
    <p>Roles:</p>
    <ul>
        {% for role in app.user.roles %}
            <li>{{ role }}</li>
        {% endfor %}
    </ul>
{% endblock %}