{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="content">
            <h1>Who Am I ?</h1>
            <p>Username: {{ app.user.userIdentifier }}</p>
            <p>Roles: {{ dump(app.user.roles) }}</p>
        </div>
    </section>
{% endblock %}